.App {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 5px;
  background-color: #23272f;
}
.binary {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.binary:nth-child(2n){
  margin-right: 20px;
}
.binary span {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color :white;
  transition: all .4s ease-in;
}
.binary span.off {
  background-color: #3f4753;
}
.binary span.on {
  background-color: #149eca;
}
.binary p {text-align: center; color : #3f4753}